{
  "useTabs": true,
  "tabWidth": 4,
  "printWidth": 120,
  "htmlWhitespaceSensitivity": "ignore",
  "plugins": ["@prettier/plugin-php"],
  "overrides": [
    {
      "files": ["*.php"],
      "options": {
        "parser": "php",
        "phpVersion": "8.0",
        "braceStyle": "1tbs",
        "singleQuote": true
      }
    },
    {
      "files": ["*.html"],
      "options": {
        "parser": "html"
      }
    }
  ]
}
